	
p{
	color:red;
}


body{
	font-size: 1.5em;
	color: #0F1DE2;
	background: white url(../Img/sakura.jpg);
}

h1 {
	color: rgb(167, 35, 35);
	text-align: center;
	border-width: 4px;
	border-radius: 180px;
	margin-left: 23%; 
	margin-right: 23%;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #f1f1f1
}


#mainContent{
	margin-left: 75px;
	margin-right: 75px;
	padding-left: 25px;
}


#titleScreen{
	font-size: 70%;
}
.centerMe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	width: 130px;
	position: fixed;
	top: 0;

}

nav ul li a{
	display: block;
	text-decoration: none;
	color: #000;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 2px;
	border-width: 1px;
	border-style: solid;
	transition: 1s;
}

nav ul li a:hover {
	background-color: #555;
	color: #fff;
}

.active{
	background-color: #4CAF50;
	color: #fff;
}

img {
	padding-bottom: 50px;
	max-width: 90%;
	height: auto;
	
}

@media screen and (max-width: 600px) {
	nav{
		display: none;
	}
	
	#mainContent{
	margin-left: 2%;
	margin-right: 0;
	padding-left: 2%;
	}
	

}